<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bhagya.kbc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".insertAnsQsn1" />
        <activity
            android:name=".AnswerQuestion1"
            android:configChanges="orientation" />
        <activity android:name=".Timmer" />
        <activity
            android:name=".navigaion_Activiy"
            android:label="@string/title_activity_navigaion__activiy"
            android:theme="@style/AppTheme" />
        <activity android:name=".subSelectActivity" />

        <activity android:name=".timeupActivity" />
        <activity android:name=".MultiPlayerActivity" />

    </application>

</manifest>